body{
    background-color:white;
}

header{
    width: 1100px;
    margin: 0 auto 50px;
}

nav{
    display: flex;
    justify-content: space-between;}

ul{
    display: flex;
    list-style: none;
    color: black;
}

#nav_buttons li:nth-last-child(1){
    padding-right: 0px;
}

li{
    padding: 10px;
    color: black;
    font-family: 'Lato', sans-serif;
}

a:visited{
    text-decoration: none; 
}

#green_link{
    color: #124E78;
    font-weight: bolder;
}

a{
    text-decoration: none;
}

nav a:hover{
    font-weight:bold ;
    color: #F2BB05;
}

#welcome_pic{
    height: 400px;
    width: 400px;
}

#id_block{
    display: flex;
    justify-content: center;
}

#presentation_block{
    height: 200px;
    width: 800px;
    justify-content: start;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

p, h2, h3, blockquote, label, input{
    font-family: 'Lato', sans-serif;
}

h2, h3, a{
    color: #124E78;
}

blockquote{
    margin-left: 0px;
    margin-top: 0px;
}

#logo{
    width: auto;
    height: 100px;
}

#presentation_block p{
    margin-top: 0px;
}

#presentation_block h2{
    color: #F2BB05;
    font-family: 'Eczar', serif;
    margin-bottom: 0px;
    margin-left: 10px;
}

#welcome_article{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#presentation_block h1{
    color:#124E78;
    font-family: 'Eczar', serif;
    margin-bottom: 0px;
    margin-left: 10px;
}

.presentation_column_right{
    margin-right: 10px;
    text-align: end;
}

#icons_block{
    display: flex;
    justify-content: space-between;
}

#formation_pic{
    width: 200px;
}

#skills_pic{
    width: 200px;
    height: 200px;
    transform: rotateY(180deg); 
}

#skills_pic img{
max-height: 100%;
}

#experience_pic{
    width: 200px;
    height: 200px;
}

#experience_pic img{
    max-height: 100%;
    transform: rotateY(180deg); 
    }    

main{
    width: 1100px;
    margin: 0 auto;
}

#top_pic{
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.project_block{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 300px;
    width: 200px;
    align-items: center;
    border: solid 1px #7CAFC4;
    box-shadow: 1px 1px 1px #F2BB05;
}

.github_icon{
    height: 50px;

}

.project_block p{
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
    height: 150px;
}

p{
    text-align: justify;
}

#contact_article{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

#icons_block div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#icons_block p{
    border-radius: 100%;
    border: solid black 1px;
    height: 20px;
    width: 20px;
    justify-content: center;
    display: flex;
}

footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #124E78;
    color: white;
}

footer p{
    margin-left: 10px;
    margin-right: 10px;
}

#contact_pic{
    height: 300px;
}

.grid_block1{
    grid-column: 1/2;
    grid-row: 1/2;
    height: 200px;
    justify-content: end;
    display: grid;
    align-items: end;
}

#projects{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(2, 500px);
    gap: 30px;
    margin-bottom: 150px;
}

#project_block1{
    grid-column: 1/2;
    grid-row: 2/3;
}

#project_block3{
    grid-column: 1/2;
    grid-row: 1/2;
}

#projects article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid 1px #7CAFC4;
    box-shadow: 1px 1px 1px #F2BB05;
}

.grid_pic{
    width: 400px;
}

.project_h3_p{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    justify-content: flex-start;
    height: 200px;
}

.project p{
    margin-bottom: 0px;
}

#Illustrations_footer{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#Illustrations_footer p{
    font-size: 10px;
}

footer h4{
    font-family: 'Lato', sans-serif;
    margin-left: 10px;
}

input, textarea{
    border: solid 1px #7CAFC4;
    box-shadow: 1px 1px 1px #F2BB05;
    width: 300px;
    font-family: 'Lato', sans-serif;
}

textarea{
    width:400px;
    height: 200px;
    resize: none;
}

input:focus, textarea:focus{
    color: #124E78;
}

#button{
    margin-top: 10px;
    width: 80px;
    background-color: white;
    font-family: 'Lato', sans-serif;
    color: #124E78;
    font-weight: bold;
    cursor: pointer;
}

label{
    margin-top: 10px;
    margin-bottom: 5px;
}

#contactform{
    display: flex;
    flex-direction: column;
}

footer a{
    color: white;
}

#Illustrations_footer p:nth-last-child(1){
    margin-bottom: 10px;
}

#Illustrations_footer p{
    margin-bottom: 1px;
    margin-top: 1px;
}

footer a:hover{
    color: #F2BB05;
}

#presentation_block_page_details{
    height: auto;
    width: 800px;
    justify-content: start;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#presentation_block_page_details h1 {
    color: #124E78;
    font-family: 'Eczar', serif;
    margin-bottom: 0px;
    margin-left: 10px;
}

#presentation_block_page_details h2 {
    color: #F2BB05;
    font-family: 'Eczar', serif;
    margin-bottom: 0px;
    margin-left: 10px;
}

#skills ul{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#skills{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}