body{
    background-color:white;
}

ul{
    display: flex;
    list-style: none;
    margin-left: 70%;
    color: black;
}

li{
    padding: 10px;
    color: black;
}

a:visited{
    color:black;
}

#green_link{
    color: #137F38;
}

a{
    text-decoration: none;
}

a:hover{
    font-weight:bold ;
}

#home_profile_pic{
    height: 250px;
    width: 250px;
}

#id_block{
    display: flex;
    justify-content: center;
}

#presentation_block{
    background-color: wheat;
    height: 300px;
    width: 80%;
    margin-top: -7%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 0.2fr 1fr ;
}

#presentation_block h2{
    color: #0e5f29;
    margin-right: 10px;
}

#presentation_block h1{
    position: absolute;
    margin-left: 1%;
    color:#137F38;
}

.presentation_column_right{
    margin-right: 10px;
    text-align: end;
}

#icons_block{
    display: flex;
    justify-content: space-between;
}

main{
    width: 1100px;
    margin: 0 auto;
}

#contact{
}

.project_block{
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 300px;
    width: 200px;
    align-items: center;
    background-color: wheat;
}

.github_icon{
    height: 50px;

}

#projects{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.project_block p{
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
}

p{
    text-align: justify;
}

#contact_article{
    display: flex;
}

#icons_block div{
    display: flex;
    align-items: center;
    flex-direction: column;
}